name: Testing context, properties and variables

on:
    push:
        branches:
            - main

jobs:
    job_1:
        runs-on: ubuntu-latest
        steps:
            - name: step1
              run: "echo ${{github.actor}}"
    job_2:
        runs-on: ubuntu-latest
        steps:
            - name: step2
              run: "echo ${{github.actor_id}}"
    job_3:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-java@v5
              with:
                distribution: temurin
                java-version: 21


