name: Testing context, properties and variables

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    job_1:
        runs-on: ubuntu-latest
        steps:
            - name: step1
              run: "echo ${{github.actor}}"
    job_2:
        runs-on: ubuntu-latest
        steps:
            - name: step2
              run: "echo ${{github.actor_id}}"



